HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/node_modules/.package-lock.json
/node_modules/react-modal/lib/helpers/ariaAppHider.js
/node_modules/react-modal/lib/helpers/bodyTrap.js
/node_modules/react-is/build-info.json
/node_modules/js-tokens/CHANGELOG.md
/node_modules/react-lifecycles-compat/CHANGELOG.md
/node_modules/react-modal/CHANGELOG.md
/node_modules/warning/CHANGELOG.md
/node_modules/prop-types/checkPropTypes.js
/node_modules/react-modal/lib/helpers/classList.js
/node_modules/loose-envify/cli.js
/node_modules/react-dom/client.js
/node_modules/loose-envify/custom.js
/node_modules/prop-types/factory.js
/node_modules/prop-types/factoryWithThrowingShims.js
/node_modules/prop-types/factoryWithTypeCheckers.js
/node_modules/react-modal/lib/helpers/focusManager.js
/node_modules/prop-types/lib/has.js
/node_modules/exenv/index.js
/node_modules/js-tokens/index.js
/node_modules/loose-envify/index.js
/node_modules/object-assign/index.js
/node_modules/prop-types/index.js
/node_modules/react/index.js
/node_modules/react-dom/index.js
/node_modules/react-is/index.js
/node_modules/react-modal/lib/index.js
/node_modules/scheduler/index.js
/node_modules/react/jsx-dev-runtime.js
/node_modules/react/jsx-runtime.js
/node_modules/exenv/LICENSE
/node_modules/js-tokens/LICENSE
/node_modules/loose-envify/LICENSE
/node_modules/prop-types/LICENSE
/node_modules/react/LICENSE
/node_modules/react-dom/LICENSE
/node_modules/react-is/LICENSE
/node_modules/react-modal/LICENSE
/node_modules/react-simple-keyboard/LICENSE
/node_modules/scheduler/LICENSE
/node_modules/object-assign/license
/node_modules/react-lifecycles-compat/LICENSE.md
/node_modules/warning/LICENSE.md
/node_modules/.bin/loose-envify
/node_modules/.bin/loose-envify.cmd
/node_modules/loose-envify/loose-envify.js
/node_modules/.bin/loose-envify.ps1
/node_modules/react-modal/lib/components/Modal.js
/node_modules/react-modal/lib/components/ModalPortal.js
/node_modules/exenv/package.json
/node_modules/js-tokens/package.json
/node_modules/loose-envify/package.json
/node_modules/object-assign/package.json
/node_modules/prop-types/package.json
/node_modules/react/package.json
/node_modules/react-dom/package.json
/node_modules/react-is/package.json
/node_modules/react-lifecycles-compat/package.json
/node_modules/react-modal/package.json
/node_modules/react-simple-keyboard/package.json
/node_modules/scheduler/package.json
/node_modules/warning/package.json
/package.json
/package-lock.json
/node_modules/react-modal/lib/helpers/portalOpenInstances.js
/node_modules/react-dom/profiling.js
/node_modules/prop-types/prop-types.js
/node_modules/prop-types/prop-types.min.js
/node_modules/react/cjs/react.development.js
/node_modules/react/umd/react.development.js
/node_modules/react/cjs/react.production.min.js
/node_modules/react/umd/react.production.min.js
/node_modules/react/umd/react.profiling.min.js
/node_modules/react/cjs/react.shared-subset.development.js
/node_modules/react/react.shared-subset.js
/node_modules/react/cjs/react.shared-subset.production.min.js
/node_modules/react-dom/cjs/react-dom.development.js
/node_modules/react-dom/umd/react-dom.development.js
/node_modules/react-dom/cjs/react-dom.production.min.js
/node_modules/react-dom/umd/react-dom.production.min.js
/node_modules/react-dom/cjs/react-dom.profiling.min.js
/node_modules/react-dom/umd/react-dom.profiling.min.js
/node_modules/react-dom/cjs/react-dom-server.browser.development.js
/node_modules/react-dom/umd/react-dom-server.browser.development.js
/node_modules/react-dom/cjs/react-dom-server.browser.production.min.js
/node_modules/react-dom/umd/react-dom-server.browser.production.min.js
/node_modules/react-dom/cjs/react-dom-server.node.development.js
/node_modules/react-dom/cjs/react-dom-server.node.production.min.js
/node_modules/react-dom/cjs/react-dom-server-legacy.browser.development.js
/node_modules/react-dom/umd/react-dom-server-legacy.browser.development.js
/node_modules/react-dom/cjs/react-dom-server-legacy.browser.production.min.js
/node_modules/react-dom/umd/react-dom-server-legacy.browser.production.min.js
/node_modules/react-dom/cjs/react-dom-server-legacy.node.development.js
/node_modules/react-dom/cjs/react-dom-server-legacy.node.production.min.js
/node_modules/react-dom/cjs/react-dom-test-utils.development.js
/node_modules/react-dom/umd/react-dom-test-utils.development.js
/node_modules/react-dom/cjs/react-dom-test-utils.production.min.js
/node_modules/react-dom/umd/react-dom-test-utils.production.min.js
/node_modules/react-is/cjs/react-is.development.js
/node_modules/react-is/umd/react-is.development.js
/node_modules/react-is/cjs/react-is.production.min.js
/node_modules/react-is/umd/react-is.production.min.js
/node_modules/react/cjs/react-jsx-dev-runtime.development.js
/node_modules/react/cjs/react-jsx-dev-runtime.production.min.js
/node_modules/react/cjs/react-jsx-dev-runtime.profiling.min.js
/node_modules/react/cjs/react-jsx-runtime.development.js
/node_modules/react/cjs/react-jsx-runtime.production.min.js
/node_modules/react/cjs/react-jsx-runtime.profiling.min.js
/node_modules/react-lifecycles-compat/react-lifecycles-compat.cjs.js
/node_modules/react-lifecycles-compat/react-lifecycles-compat.es.js
/node_modules/react-lifecycles-compat/react-lifecycles-compat.js
/node_modules/react-lifecycles-compat/react-lifecycles-compat.min.js
/node_modules/react-modal/dist/react-modal.js
/node_modules/react-modal/dist/react-modal.min.js
/node_modules/prop-types/lib/ReactPropTypesSecret.js
/node_modules/exenv/README.md
/node_modules/js-tokens/README.md
/node_modules/loose-envify/README.md
/node_modules/prop-types/README.md
/node_modules/react/README.md
/node_modules/react-dom/README.md
/node_modules/react-is/README.md
/node_modules/react-lifecycles-compat/README.md
/node_modules/react-modal/README.md
/node_modules/react-simple-keyboard/README.md
/node_modules/scheduler/README.md
/node_modules/warning/README.md
/node_modules/object-assign/readme.md
/node_modules/loose-envify/replace.js
/node_modules/react-modal/lib/helpers/safeHTMLElement.js
/node_modules/scheduler/cjs/scheduler.development.js
/node_modules/scheduler/umd/scheduler.development.js
/node_modules/scheduler/cjs/scheduler.production.min.js
/node_modules/scheduler/umd/scheduler.production.min.js
/node_modules/scheduler/umd/scheduler.profiling.min.js
/node_modules/scheduler/cjs/scheduler-unstable_mock.development.js
/node_modules/scheduler/umd/scheduler-unstable_mock.development.js
/node_modules/scheduler/cjs/scheduler-unstable_mock.production.min.js
/node_modules/scheduler/umd/scheduler-unstable_mock.production.min.js
/node_modules/scheduler/cjs/scheduler-unstable_post_task.development.js
/node_modules/scheduler/cjs/scheduler-unstable_post_task.production.min.js
/node_modules/react-modal/lib/helpers/scopeTab.js
/node_modules/react-dom/server.browser.js
/node_modules/react-dom/server.js
/node_modules/react-dom/server.node.js
/node_modules/react-modal/lib/helpers/tabbable.js
/node_modules/react-dom/test-utils.js
/node_modules/scheduler/unstable_mock.js
/node_modules/scheduler/unstable_post_task.js
/node_modules/react-modal/UPGRADE_GUIDE.md
/node_modules/warning/warning.js
