<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Menu</title>
</head>
<body>
<h1>Add Menu</h1>
<form action="/admin/menu/add" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept="image/*" required><br>
    <input type="text" name="name" placeholder="Name" required><br>
    <input type="text" name="description" placeholder="Description" required><br>
    <input type="number" name="price" placeholder="Price" required><br>

    <label for="category">Category:</label>
    <select id="category" name="category" required>
        <option value="" disabled selected>Select a category</option>
        <th:block th:each="category : ${categories}">
            <option th:value="${category.categoryID}" th:text="${category.categoryName}"></option>
        </th:block>
    </select><br><br>

    <button type="submit">Add Menu</button>
</form>
</body>
</html>
